<div class="container">
  <div class="col-md-8">
    <h1 class="page-header">
      <font color="#01A9DB">Notifications</font>
    </h1>
		<div class="row">
			<div class="col-sm-7">
			<br>
				<div class="list-group">
				<% @notification.each do |notification| %>
 					<div class="list-group-item clearfix">
  				<% viewed(notification.id,current_user.id) %>
    				<h5 class="list-group-item-heading"> <%= notification.message %></h5>
  					</div>
  					<br>
 				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>