<div class="container">
  <div class="col-md-8">
    <h1 class="page-header">
      <font color="#01A9DB">Inbox</font>
    </h1>


<ul class="list-group">
	<%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>

<%= will_paginate %>

	</div>
</div>