<% if current_user.admin? %>
	<h1>
		<font color="#01A9DB">New Landmark</font>
	</h1>
<% else %>
	<h1>
		<font color="#01A9DB">New Landmark Suggestion</font>
	</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', landmarks_path %>