<!DOCTYPE html>
<html>
<head>
	<title>My Rides</title>
</head>
<body class="landing">
    <div class="container">
        <br></br>
        <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted main-color" contenteditable="false">My Rides</li>
                <li class="list-group-item text-right"><span class="pull-left">Ride 1</span> 4</li>
                <li class="list-group-item text-right"><span class="pull-left">Ride 2</span> 3</li>
                <li class="list-group-item text-right"><span class="pull-left">Ride 3</span> 2</li>
                <li class="list-group-item text-right"><span class="pull-left">Ride 4</span> 4</li>
            </ul>
        </div>
        
        
        <!--View/Edit/Delete rides-->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="main-color">Bio</p>
                    <div class="btn-group" role="group" aria-label="...">
  						<button type="button" class="btn btn-default">Edit</button>
  						<button type="button" class="btn btn-default">Delete</button>
					</div>
                </div>
                <div class="panel-body"> Ride info.

                </div>
            </div>
        </div>
    </div>
    <br></br>
    </div>
</body>
</html>