<div class="list-group">
  <% @rides.each do |r| %>
    <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Ride from <%= r.source.name %> to <%= r.destination.name %> </h4>
    <p class="list-group-item-text"> Number of seats: <%= r.seatNum %> </p>
    <p class="list-group-item-text"> Description: <%= r.description %> </p>
  </a>
  <br>
  <% end %>
  
</div>